<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href='site.css' rel='stylesheet'>
    <title>Weather We Go Registration</title>
</head>

<body>
    <div class ="register">
        <div class="overlay"></div>
        <div class="box">
            <h1>Weather We Go</h1>
        
        <div class="container">
            <div class="left">
                <h3>Register!</h3>

        <form action="/login" method="post"> 
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username:" required><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password:" required><br>
            
            <button type="submit">Register</button>
        </form>
        
        <p>
            <p>Already have an account?<a href="login.html"> Sign in here!<br></a></p>
            <p>Or <a href="index.html">continue as a guest.</a></p>
        </p>
        </div>
    </div>
</body>
</html>